:root {
  --large-column-width: 160px;
  --small-column-width: 120px;
}

#profile {
  display: grid;
  grid-template-columns: var(--large-column-width) 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "img h3"
    "img p1"
    "img p2";
  gap: 0.5rem 1.5rem;
  margin-top: 4rem;
  align-items: start;
}

#profile img {
  margin: 0;
  padding: 0;
  grid-area: img;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

#profile h3 {
  margin: 0;
}

#profile p:first-of-type {
  grid-area: p1;
  margin: 0;
}

#profile p:last-of-type {
  grid-area: p2;
  margin: 0;
}

#contact {
  display: grid;
  grid-template-columns: var(--large-column-width) 1fr;
  gap: 0 1.5rem;
}

#contact > :nth-child(odd) {
  text-align: right;
}

@media (max-width: 600px) {
  #profile {
    grid-template-columns: var(--small-column-width) 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "img h3"
      "img p1"
      "p2 p2";
  }

  #profile img {
    width: 120px;
    height: 120px;
  }

  #contact {
    grid-template-columns: auto 1fr;
  }
}
