:root {
  --color-shadow: #202020;
  --color-bg-page: #191919;
  --color-bg-surface: #30302e;
  --color-bg-nav: #14252d;
  --color-bg-interactive: #01798c;
  --color-bg-accent: #504425;
  --color-fg-default: #f0efed;
  --color-fg-active: #f2c36a;
  --color-fg-link: #2f5f95;
}

body {
  margin: 0;
  background-color: var(--color-bg-page);
  word-wrap: break-word;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main,
footer {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  padding: 1rem;
}

main {
  flex: 1;
}

footer {
  font-size: 12px;
}

h1 {
  font-family: "Fira Code", monospace;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: 1.5px;
  color: var(--color-fg-default);
}

h2 {
  font-family: "Fira Code", monospace;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  text-transform: none;
  letter-spacing: 1.5px;
  color: var(--color-fg-default);
}

h3 {
  font-family: "Fira Code", monospace;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-transform: none;
  letter-spacing: 2px;
  color: var(--color-fg-default);
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
}

p,
span {
  margin: 0;
  text-align: left;
  color: var(--color-fg-default);
}

a {
  color: var(--color-fg-link);
}

hr {
  width: 70%;
  height: 1px;
  border: none;
  background-color: var(--color-fg-default);
  margin: 55px auto;
}

.button {
  margin: 30px;
  text-align: center;
}

.button>a {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  padding: 12px 30px;
  background-color: var(--color-bg-nav);
  border: 2px solid var(--color-bg-interactive);
  border-radius: 12px;
  color: var(--color-bg-interactive);
  text-decoration: none;
}
