<!DOCTYPE html>
<html lang="de-DE">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Oskar Meyenburg</title>
  <meta name="description" content="Personal website of Oskar Meyenburg">

  <meta name="robots" content="index, follow, archive">

  <!-- Social -->
  <meta property="st:section" content="Oskar Meyenburg">

  <meta name="twitter:title" content="Oskar Meyenburg">
  <meta name="twitter:description" content="Personal website of Oskar Meyenburg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://omeyenburg.dev/assets/profile-small.jpg">

  <meta property="og:url" content="https://omeyenburg.dev/">
  <meta property="og:title" content="Oskar Meyenburg">
  <meta property="og:description" content="Personal website of Oskar Meyenburg">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="de_DE">
  <meta property="og:site_name" content="Oskar Meyenburg">

  <meta property="og:image" content="https://omeyenburg.dev/assets/profile-small.jpg">
  <meta property="og:image:width" content="1000">
  <meta property="og:image:height" content="1000">
  <meta property="og:image:secure_url" content="https://omeyenburg.dev/assets/profile-small.jpg">

  <link rel="canonical" href="https://omeyenburg.dev/">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

  <!-- Scripts -->
  {{page-js}}

  <!-- Styles -->
  <!-- <link rel="stylesheet" href="/css/main.css"> -->
  <!-- <link rel="stylesheet" href="/css/navbar.css"> -->
  {{page-css}}
  {{inline-css}}
  {{inline-page-css}}
</head>

<body>
  <!-- Navbar -->
  <header>
    {{nav}}
  </header>

  <!-- Page content -->
  <main>
    {{content}}
  </main>

  <!-- Footer -->
  <footer>
    {{footer}}
  </footer>
</body>

</html>
