body {
  margin: 0;
  background-color: var(--color-bg-page);
  word-wrap: break-word;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main,
footer {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  padding: 1rem;
}

main {
  flex: 1;
}

footer {
  font-size: 12px;
}

footer a {
  color: var(--color-fg-link);
}

h1 {
  font-family: "Schoolbell", sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: 2px;
  color: var(--color-fg-default);
}


@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
}

p,
span {
  text-align: left;
  color: var(--color-fg-default);
}

hr {
  width: 50%;
  height: 1px;
  border: none;
  background-color: var(--color-fg-default);
  margin: 25px auto;
}

img {
  width: 80%;
  max-height: 400px;
  padding: 30px;
  box-sizing: content-box;
  display: inline;
}

.centered {
  text-align: center;
}
