:root {
  --shadow: #aaaaaa;
  --background-color: #8bc34a;
  --dropdown-background-color: #eeeeee;
  --mobile-dropdown-background-color: #7daf42;
  --accent-color: #367714;
  --text-color: #022b4f;
  --active-text-color: #fcfcfc;
}

.nav-bar {
  font-family: "Schoolbell", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-menu li {
  position: relative;
}

.nav-menu a {
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  padding: 0 16px;
  transition: background-color 0.2s ease, color 0.2s ease, height 0.2s ease;
}

/* Hover & active state; .nav-item-active is applied in page builder script */
.nav-menu a.nav-item-active,
.nav-menu a:hover,
.nav-menu a:active,
.nav-menu a:focus {
  background-color: var(--accent-color);
  color: var(--active-text-color);
}

/* Not mobile */
@media (min-width: 1056px) {

  .nav-menu>li:hover>a,
  .nav-menu>li:focus>a,
  .nav-menu>li:active>a {
    background-color: var(--accent-color);
    color: var(--active-text-color);
  }
}

/* Sub menu dropdown */
.nav-sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--dropdown-background-color);
  display: none;
  min-width: 210px;
  box-shadow: 0px 2px 3px var(--shadow);
}

/* Remove enumeration points */
.nav-sub-menu li {
  display: block;
}

.nav-sub-menu a {
  padding: 0 20px;
}

.nav-sub-menu a:hover {
  background-color: var(--accent-color);
  color: var(--active-text-color);
}

/* Show dropdown on hover */
.nav-bar ul li:hover>ul {
  visibility: visible;
  opacity: 1;
  display: block;
}

/* Menu toggle (mobile) */
#nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  position: absolute;
  width: 57px;
  height: 57px;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  position: absolute;
  left: 16px;
  top: 25px;
  width: 25px;
  height: 3px;
  transition: all 0.2s ease;
  background-color: var(--text-color);
}

.nav-toggle-label span::before {
  content: '';
  top: -8px;
  left: 0;
}

.nav-toggle-label span::after {
  content: '';
  top: 8px;
  left: 0;
}

/* Animate when checked */
#nav-toggle:checked+.nav-toggle-label span {
  left: 13px;
  background-color: transparent;
}

#nav-toggle:checked+.nav-toggle-label span::before {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

#nav-toggle:checked+.nav-toggle-label span::after {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

/* Sub menu toggles */
.nav-sub-toggle {
  display: none;
  top: -57px;
  right: 0;
}

.nav-sub-toggle-label {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 57px;
  height: 57px;
  background-color: var(--mobile-dropdown-background-color);
}

.nav-sub-toggle-label span::before {
  top: 28px;
  left: 17px;
  transform: rotate(45deg);
}

.nav-sub-toggle-label span::after {
  top: 28px;
  right: 16px;
  transform: rotate(-45deg);
}

.nav-sub-toggle-label span::before,
.nav-sub-toggle-label span::after {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 3px;
  transition: all 0.2s;
  background-color: var(--text-color);
}

/* Animate when checked */
.nav-sub-toggle:checked+.nav-sub-toggle-label span::before {
  transform: rotate(-45deg);
}

.nav-sub-toggle:checked+.nav-sub-toggle-label span::after {
  transform: rotate(45deg);
}

/* Mobile */
@media (max-width: 1056px) {
  .nav-bar {
    max-height: 100vh;
    overflow-y: auto;
  }

  /* Menu */
  .nav-menu {
    box-shadow: 0 1px 0 0 var(--mobile-dropdown-background-color) inset;
  }

  .nav-menu li {
    box-shadow: 0 -1px 0 0 var(--mobile-dropdown-background-color) inset;
    transition: margin-bottom 0.2s ease;
  }

  .nav-menu a {
    justify-content: left;
    overflow: hidden;
    width: 100%;
  }

  #nav-toggle:not(:checked)~ul a {
    height: 0;
    color: transparent;
  }

  #nav-toggle~ul {
    flex-direction: column;
    text-align: left;
    display: block;
    margin-top: 57px;
    overflow-y: hidden;

    /* Prevent tabbing when closed */
    visibility: hidden;
    transition: visibility 0.2s ease;
  }

  #nav-toggle:checked~ul {
    visibility: visible;
  }

  /* Show menu toggle button */
  .nav-toggle-label {
    display: block;
  }

  /* Sub menus */
  .nav-sub-menu {
    visibility: hidden;
    position: static;
    background-color: var(--mobile-dropdown-background-color);
    box-shadow: none;
    display: block;
    opacity: 1;
    overflow: hidden;
    transition: all 0.2s ease;
  }

  .nav-sub-menu a {
    height: 57px;
    padding-left: 30px;
  }

  .nav-sub-toggle:not(:checked)~ul a {
    color: transparent;
    height: 0;
  }

  #nav-toggle:checked~ul > li:has(.nav-sub-toggle:checked) {
    margin-bottom: 5px;
  }

  .nav-sub-toggle:checked+.nav-sub-toggle-label+ul {
    visibility: visible;
  }

  /* Sub menu toggles */
  .nav-sub-toggle-label {
    display: block;
  }
}

/* Checkout button. Will be removed later and replaced by native Ecwid button. */
.checkout-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.checkout-btn:hover {
  background-color: var(--accent-color);
}

.checkout-btn:hover>svg {
  stroke: var(--active-text-color);
}
