/* Navigation wrapper */
nav.primary-navigation {
  font-family: "Schoolbell", cursive, "google";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: 2px;

  background-color: #8bc34a;
  text-align: center;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  user-select: none;
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Old Edge */

  user-drag: none;
  -webkit-user-drag: none; /* Safari/Chrome */
}

nav.primary-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav.primary-navigation ul li {
  margin: 0;
  padding: 0;
  position: relative;
}

nav.primary-navigation ul li a {
  display: inline-block;
  padding: 16px;
  text-transform: uppercase;
  color: #022b4f;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover + active state */
nav.primary-navigation ul li a:hover,
nav.primary-navigation ul li a:focus,
nav.primary-navigation ul li a:active {
  background-color: #367714;
  color: #fcfcfc;
}

/* Dropdown */
nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
  display: none;
  min-width: 210px;
  box-shadow: 0px 3px 5px -1px #ccc;
  z-index: 100;
}

nav.primary-navigation ul li ul li {
  display: block;
}

nav.primary-navigation ul li ul li a {
  display: block;
  padding: 10px 20px;
  color: #022b4f;
  background-color: transparent;
}

nav.primary-navigation ul li ul li a:hover {
  background-color: #367714;
  color: #fcfcfc;
}

.nav-toggle-label:hover,
.nav-sub-toggle-label:hover {
  background-color: #367714;
}

/* Show dropdown on hover */
nav.primary-navigation ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  display: block;
}

/* Hamburger toggle for mobile */
#nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  position: absolute;
  width: 57px;
  height: 57px;
  cursor: pointer;
  z-index: 200;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  position: absolute;
  left: 16px;
  top: 25px;
  width: 25px;
  height: 3px;
  background-color: #022b4f;
  transition: all 0.3s ease;
}

.nav-toggle-label:hover span,
.nav-toggle-label:hover span::before,
.nav-toggle-label:hover span::after {
  background-color: #fcfcfc;
}

.nav-toggle-label span::before {
  content: '';
  top: -8px;
  left: 0;
}

.nav-toggle-label span::after {
  content: '';
  top: 8px;
  left: 0;
}

/* Animate when checked */
#nav-toggle:checked + .nav-toggle-label span {
  left: 13px;
  background-color: transparent;
}

#nav-toggle:checked + .nav-toggle-label span::before {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

#nav-toggle:checked + .nav-toggle-label span::after {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

/* sub toggles */
.nav-sub-toggle {
  display: none;
  top: -57px;
  align: left;
  right: 0;
}

.nav-sub-toggle-label {
  display: none;
  position: absolute;
  width: 57px;
  height: 57px;
  cursor: pointer;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: #7daf42;
}

.nav-sub-toggle-label span::before,
.nav-sub-toggle-label span::after {
  display: block;
  position: absolute;
  content: '';
  width: 15px;
  height: 3px;
  background-color: #022b4f;
  transition: all 0.3s ease;
}

.nav-sub-toggle-label:hover span::before,
.nav-sub-toggle-label:hover span::after {
  background-color: #fcfcfc;
}

.nav-sub-toggle-label span::before {
  top: 28px;
  left: 17px;
  rotate: 45deg;
}

.nav-sub-toggle-label span::after {
  top: 28px;
  right: 16px;
  rotate: -45deg;
}

/* Animate when checked */
.nav-sub-toggle:checked + .nav-sub-toggle-label span::before {
  transform: rotate(-90deg);
}

.nav-sub-toggle:checked + .nav-sub-toggle-label span::after {
  transform: rotate(90deg);
}

/* Mobile */
@media (max-width: 1056px) {
  nav.primary-navigation {
    min-height: 57px;
    overflow-y: auto;
    max-height: 100vh;
  }

  nav.primary-navigation ul {
    display: none;
    flex-direction: column;
    text-align: left;
  }

  #nav-toggle ~ ul {
    display: flex;
    padding-top: 57px;
    max-height: 0;
    opacity: 0;
    visibility: visible;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }
  #nav-toggle:checked ~ ul {
    max-height: 10000px;
    opacity: 1;
  }

  .nav-toggle-label {
    display: block; /* Show hamburger button */
  }

  nav.primary-navigation ul li a {
    width: 100%;
  }

  nav.primary-navigation li ul {
    position: static;
    opacity: 1;
    display: none;
    box-shadow: none;
  }

  /* remove hover for mobile */
  nav.primary-navigation ul li > ul {
    position: static;
    width: 100%;
    background-color: #7daf42;
    box-shadow: none;
    display: block;
  }

  nav.primary-navigation ul li ul li a {
    padding-left: 30px;
  }

  /* sub toggles */
  .nav-sub-toggle + .nav-sub-toggle-label + ul {
    display: block;
    max-height: 0;
    opacity: 0;
    visibility: visible;
    overflow: hidden;
    margin-bottom: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, margin-bottom 0.3s ease;
  }
  .nav-sub-toggle:checked + .nav-sub-toggle-label + ul {
    opacity: 1;
    max-height: 10000px;
    margin-bottom: 5px;
  }

  .nav-sub-toggle-label {
    display: block; /* Show dropdown button */
  }
}

/* Checkout button. Will be removed later and replaced by native Ecwid button. */
.checkout-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.checkout-btn:hover {
  background-color: #367714;
}
.checkout-btn:hover > svg {
  stroke: #fcfcfc;
}
