.nav-bar {
  font-family: "Schoolbell", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: #8bc34a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  user-select: none;
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Old Edge */

  user-drag: none;
  -webkit-user-drag: none; /* Safari/Chrome */
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-menu li {
  position: relative;
}

.nav-menu a {
  text-decoration: none;
  color: #022b4f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  padding: 0 16px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover & active state */
.nav-menu a.nav-item-active, /* Applied in page builder script */
.nav-menu a:hover,
.nav-menu a:active,
.nav-menu a:focus {
  background-color: #367714;
  color: #fcfcfc;
}

/* Not mobile */
@media (min-width: 1056px) {
  .nav-menu > li:hover > a,
  .nav-menu > li:focus > a,
  .nav-menu > li:active > a {
    background-color: #367714;
    color: #fcfcfc;
  }
}

/* Sub menu dropdown */
.nav-sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
  display: none;
  min-width: 210px;
  box-shadow: 0px 2px 3px #aaa;
  z-index: 100;
}

/* Remove enumeration points */
.nav-sub-menu li {
  display: block;
}

.nav-sub-menu a {
  padding: 0 20px;
}

.nav-sub-menu a:hover {
  background-color: #367714;
  color: #fcfcfc;
}

/* Show dropdown on hover */
.nav-bar ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  display: block;
}

/* Menu toggle (mobile) */
#nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  position: absolute;
  width: 57px;
  height: 57px;
  cursor: pointer;
  z-index: 200;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  position: absolute;
  left: 16px;
  top: 25px;
  width: 25px;
  height: 3px;
  transition: all 0.3s ease;
  background-color: #022b4f;
}

.nav-toggle-label span::before {
  content: '';
  top: -8px;
  left: 0;
}

.nav-toggle-label span::after {
  content: '';
  top: 8px;
  left: 0;
}

/* Animate when checked */
#nav-toggle:checked + .nav-toggle-label span {
  left: 13px;
  background-color: transparent;
}

#nav-toggle:checked + .nav-toggle-label span::before {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

#nav-toggle:checked + .nav-toggle-label span::after {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

/* Sub menu toggles */
.nav-sub-toggle {
  display: none;
  top: -57px;
  right: 0;
}

.nav-sub-toggle-label {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 57px;
  height: 57px;
  z-index: 200;
  background-color: #7daf42;
}

.nav-sub-toggle-label span::before {
  top: 28px;
  left: 17px;
  rotate: 45deg;
}

.nav-sub-toggle-label span::after {
  top: 28px;
  right: 16px;
  rotate: -45deg;
}

.nav-sub-toggle-label span::before,
.nav-sub-toggle-label span::after {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 3px;
  transition: all 0.3s ease;
  background-color: #022b4f;
}

/* Animate when checked */
.nav-sub-toggle:checked + .nav-sub-toggle-label span::before {
  transform: rotate(-90deg);
}

.nav-sub-toggle:checked + .nav-sub-toggle-label span::after {
  transform: rotate(90deg);
}

/* Mobile */
@media (max-width: 1056px) {
  .nav-bar {
    max-height: 100vh;
    overflow-y: auto;
  }

  /* Menu */
  .nav-menu a {
    width: 100%;
  }

  #nav-toggle:not(:checked) ~ ul a {
    height: 0;
  }

  #nav-toggle ~ ul {
    flex-direction: column;
    text-align: left;
    display: flex;
    padding-top: 57px;
    visibility: visible;
    overflow-y: hidden;

    /* Hidden by default */
    max-height: 0;
    opacity: 0;
  }

  #nav-toggle:checked ~ ul {
    transition: all 0.3s ease;
    max-height: 10000px;
    opacity: 1;
  }

  /* Menu toggle */
  .nav-toggle-label {
    display: block; /* Show hamburger button */
  }

  /* Sub menus */
  .nav-sub-menu {
    position: static;
    background-color: #7daf42;
    box-shadow: none;
    display: block;
  }

  .nav-sub-menu a {
    padding-left: 30px;
  }

  .nav-sub-toggle + .nav-sub-toggle-label + ul {
    display: block; /* Show sub menu button */
    overflow: hidden;
    visibility: visible;
    transition: all 0.3s ease;
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
  }

  .nav-sub-toggle:checked + .nav-sub-toggle-label + ul {
    opacity: 1;
    max-height: 10000px;
    margin-bottom: 5px;
  }

  /* Sub menu toggles */
  .nav-sub-toggle-label {
    display: block; /* Show sub menu icon */
  }
}

/* Checkout button. Will be removed later and replaced by native Ecwid button. */
.checkout-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #367714;
}

.checkout-btn:hover > svg {
  stroke: #fcfcfc;
}
